<div class="quizz-container">
  <div class="quizz-logo">
    <img src="assets/imgs/logo.png" alt="Imagem Logo" srcset="">
    <h2>{{titulo}}</h2>
  </div>
  <div *ngIf="!finished" class="quizz-questions">
    <h2>{{questionSelected.question}}</h2>
  </div>
  <div *ngIf="!finished" class="quizz-options">
    <button class="btn-option"
    *ngFor="let op of questionSelected.options"
    (click)="playerChoose(op.alias)">
      {{op.name}}
    </button>
  </div>
  <div class="quizz-results" *ngIf="finished">
    <h1>O seu Resultado é</h1>
    <div class="quizz-results-type" *ngFor="let r of responses">
      <div class="quizz-results-porc"><p [class]="r.tipe" [style.width.%]="r.tamanho">{{r.tamanho}}%</p></div>
      <h2>{{ r.mensagem }}</h2>
    </div>
  </div>
</div>
